<%= form_for @meditation do |f| %>
  <div class="form-group">
   <%= f.text_field :name, placeholder: "Wprowadź nazwę medytacjii..", autofocus: true %>
   <%= f.label "Plik audio" %>
   <%= f.file_field :meditationFile %>
  </div>
<% end %>